html{
    background: url(/Users/saramilkesespinosa/Desktop/GEORGIA_TECH/RESEARCH/ca_sandeep_repo/ca-music/p5/images/space.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

#container1{
    width: 100%;
    padding:15px;
}

.flex-parent {
    display: flex;
  }
.flex-child {
    flex: 1;
    padding-inline-end: 10px;
  }
p{
font-family: 'Press Start 2P', cursive;
color: white;
  }
#conditionals{
    height:200px;
}
#music{
    height:150px;
}